.search {
  width: 100%;
  position: absolute;
  z-index: 99999;
  top: 0px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 5px 10px rgba(160, 163, 189, 0.918);
  box-shadow: 0 5px 10px rgba(160, 163, 189, 0.801);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}
.search-1 {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.search-2 {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.search-2-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.search-2-label span {
  font-size: 12px;
}
#go {
  -webkit-box-shadow: 0 5px 10px rgba(160, 163, 189, 0.404);
  box-shadow: 0 5px 10px rgba(160, 163, 189, 0.247);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
#back {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 192, 203, 0.233);
  position: absolute;
  z-index: 9999999;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 5px 10px rgba(160, 163, 189, 0.404);
  box-shadow: 0 5px 10px rgba(160, 163, 189, 0.247);
}
#pac-input-1 {
  width: 100%;
  background-color: #ffffff00;
}
#pac-input-1:focus {
  outline: none;
}

#pac-input-2 {
  width: 100%;
  background-color: #ffffff00;
}
#pac-input-2:focus {
  outline: none;
}

.search-3 {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-sheet {
  box-sizing: border-box;
  padding: 10px;
  height: 30vh;
}
#option {
  width: 45%;
  height: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(160, 163, 189, 0.404);
  box-shadow: 0 5px 10px rgba(160, 163, 189, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.pac-container {
  /* styles for the dropdown list container */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 0vh;
  width: 100%;
  width: 100vw !important;
  left: 0 !important;
  top: 0 !important;
}

.pac-item {
  /* styles for each item in the dropdown list */
  padding: 10px;
  cursor: pointer;
}

.pac-item:hover {
  /* styles for each item on hover */
  background-color: #f5f5f5;
}

.pac-item-selected {
  /* styles for the selected item */
  background-color: #ddd;
}
#confirm-pickup{
  width: 100%;
  background-color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}