.page-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 30px 15px;
}
.sign-up {
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.sign-up_title {
  font-size: 32px;
  line-height: 1.06;
  letter-spacing: 1px;
  color: #171717;
}
.sign-up__subtitle,
.sign-up__title {
  text-align: center;
  margin-bottom: 20px;
}
.sign-up__subtitle {
  max-width: 424px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #767676;
}

.form-label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.43;
  color: #171717;
  cursor: pointer;
  margin-bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.form-input {
  border-radius: 8px;
  border-width: 0;
  margin-bottom: 15px;
  padding: 5px 16px;
  height: 44px;
  background: #eff0f6;
}

.form-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
}
.form-checkbox {
  margin-right: 12px;
}
.form-checkbox-label {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.71;
  color: #767676;
}
