#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: sans;
  src: url(./assets/JosefinSans-Regular.ttf);
}
p, h1{
  font-family: sans;
}
.card {
  padding: 2em;
}

