#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
@font-face {
  font-family: sans;
  src: url(./assets/JosefinSans-Regular.ttf);
}
p,
h2,
h1,
span,
a,
h3, li {
  font-family: sans;
  color: darkgreen;
}
.card {
  padding: 2em;
}
input {
  font-family: sans;
  color: black;
}
::-webkit-input-placeholder {
  font-family: sans;
}
