:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover {
  color: #535bf2;
}
a, button, h1, h2, h3, h4, h5, h6, p, ul{
      margin: 0;
    padding: 0;
    line-height: 1;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
form {
  -webkit-box-shadow: 0 5px 10px rgba(160, 163, 189, 0.1);
  box-shadow: 0 5px 10px rgba(160, 163, 189, 0.1);
  border-radius: 10px;
  padding: 40px 40px 56px;
  background-color: #fff;
  text-align: left;
}
label{
  width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
        cursor: default;
}

input{
      border-radius: 6px;
    background-color: #eff0f6;
    min-height: 40px;
    border: solid transparent 2px !important;
}
button, input, optgroup, select, textarea{
  font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
